{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'familia/styles.css' %}">
    <title>Datos</title>
</head>
<body>
    <h1>Familia</h1>
    <h3>Datos de familiares</h3>
    <table>
        <thead>
          <td>Nombre<td> <!--table data-->
          <td>Altura</td>
          <td>Fecha de Nacimiento</td> 
        </thead>
        {% for informacion in informaciones %}
        <tr> <!--table row-->
          <td>{{informacion.nombre}}</td>
          <td>{{informacion.get_altura_display}}</td>
          <td>{{informacion.nacimiento}}</td> 
        </tr>
        {%endfor%}
    </table>    
</body>
</html> 